body {
  font-family: Verdana,Geneva,sans-serif ;

}

.products-index {
  text-align: center;
}

.products-index img {
  width: 80%;
  height: 400px;
}

.products-index :hover {
  background-color: grey;
}

.products-show img {
  width: 50%;
  height: 400px;
}
